.DS_Store
conf/secret/*
!conf/secret/*example*
conf/target/*
!conf/target/README.md
conf/actual/*
!conf/actual/README.md
templates/initdb/securecockroachdb.service
!/conf/actual/VPC.json
!/conf/actual/Subnets.json
.kitchen
